alias ga='git add'
alias gd='git diff'
alias go='git checkout'
alias push='git push'
alias pull='git pull'
alias fetch='git fetch'
alias gs='git status'
alias gc='git commit'
alias ll='ls -alG'
alias gb='git branch'
alias gr='git reset HEAD'

dbash() {
    docker exec -it "$1" /bin/bash
    echo "$1"
}
