alias ga='git add'
alias gd='git diff'
alias go='git checkout'
alias push='git push'
alias pull='git pull'
alias fetch='git fetch'
alias gs='git status'
alias gc='git commit'
alias ll='ls -al'
alias gb='git branch'
